@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color:#eee;
}
a
{
    color:black;
}
.info-back:hover,.info-back a:hover
{
    
    background-color:orange;
    text-decoration: none;
    text-align: none;
    color:blue;
}
@media(max-width:460px)
{
    a
    {
        font-size: 10px;
    }
   
}
@media(max-width:700px)
{
    iframe
    {
       height: 100%;
    }
}
@media(min-width:578px)
{
    .visibility
    {

        visibility: collapse;
        display: none;
    }
   
}
.under
{
    position: relative;
}
.under::after
{
    content:"";
    display: block;
    width:90px;
    height: 5px;
    border-radius: 15%;
    background-color: black;
    margin:10px auto;
  
}